@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'prataregular';
  src: url("../fonts/prata-regular-webfont.eot");
  src: url("../fonts/prata-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/prata-regular-webfont.woff2") format("woff2"), url("../fonts/prata-regular-webfont.woff") format("woff"), url("../fonts/prata-regular-webfont.ttf") format("truetype"), url("../fonts/prata-regular-webfont.svg#prataregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneuemedium';
  src: url("../fonts/helveticaneue_medium-webfont.eot");
  src: url("../fonts/helveticaneue_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue_medium-webfont.woff2") format("woff2"), url("../fonts/helveticaneue_medium-webfont.woff") format("woff"), url("../fonts/helveticaneue_medium-webfont.ttf") format("truetype"), url("../fonts/helveticaneue_medium-webfont.svg#helveticaneuemedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 7, ../sass/_reset.scss */
.wrap {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 12, ../../../../../../../../RailsInstaller/Ruby2.2.0/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 13, ../sass/_reset.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/_reset.scss */
a {
  text-decoration: none;
  transition: .35s;
}

/* line 7, ../sass/main.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 12, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* line 17, ../sass/main.scss */
.flex, .header-menu .menu, .wrap-items .col a, .oasis-assist section {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 25, ../sass/main.scss */
.justify-content-space-between, .header-menu .menu {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* line 33, ../sass/main.scss */
.flex-wrap, .wrap-items .col a, .oasis-assist section {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 39, ../sass/main.scss */
.justify-content-center, .wrap-items .col a {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 47, ../sass/main.scss */
.align-items-center, .wrap-items .col a {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 1, ../sass/_base.scss */
header.header {
  position: relative;
}

/* line 5, ../sass/_base.scss */
.header-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding-top: 32px;
}

@media (min-width: 801px) {
  /* line 14, ../sass/_base.scss */
  .header-logo {
    width: 33.33333%;
    float: left;
  }
}
@media (max-width: 800px) {
  /* line 14, ../sass/_base.scss */
  .header-logo {
    text-align: center;
  }
}

@media (min-width: 801px) {
  /* line 23, ../sass/_base.scss */
  .header-menu {
    width: 66.66667%;
    float: left;
  }
}
/* line 27, ../sass/_base.scss */
.header-menu .menu {
  list-style: none;
  padding-top: 10px;
}
/* line 32, ../sass/_base.scss */
.header-menu .menu a {
  color: white;
  text-transform: uppercase;
  font: 15px 'helveticaneuemedium';
}

@media (max-width: 600px) {
  /* line 40, ../sass/_base.scss */
  .responsive-menus {
    margin-top: 25px;
  }
}

/* line 47, ../sass/_base.scss */
#block-views-front-banner-block .slick-arrow {
  position: absolute;
  z-index: 1;
  width: 15px;
  height: 27px;
  color: transparent;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media (min-width: 1181px) {
  /* line 47, ../sass/_base.scss */
  #block-views-front-banner-block .slick-arrow {
    top: 48%;
  }
}
@media screen and (max-width: 1180px) and (min-width: 792px) {
  /* line 47, ../sass/_base.scss */
  #block-views-front-banner-block .slick-arrow {
    bottom: 45px;
  }
}
/* line 63, ../sass/_base.scss */
#block-views-front-banner-block .slick-prev {
  background-image: url("../images/slick-prev.png");
}
@media (min-width: 1260px) {
  /* line 63, ../sass/_base.scss */
  #block-views-front-banner-block .slick-prev {
    left: 45px;
  }
}
@media screen and (max-width: 1259px) and (min-width: 1181px) {
  /* line 63, ../sass/_base.scss */
  #block-views-front-banner-block .slick-prev {
    left: 0;
  }
}
@media screen and (max-width: 1180px) and (min-width: 781px) {
  /* line 63, ../sass/_base.scss */
  #block-views-front-banner-block .slick-prev {
    left: 10px;
  }
}
/* line 75, ../sass/_base.scss */
#block-views-front-banner-block .slick-next {
  background-image: url("../images/slick-next.png");
}
@media (min-width: 1260px) {
  /* line 75, ../sass/_base.scss */
  #block-views-front-banner-block .slick-next {
    right: 45px;
  }
}
@media screen and (max-width: 1259px) and (min-width: 1180px) {
  /* line 75, ../sass/_base.scss */
  #block-views-front-banner-block .slick-next {
    right: 0;
  }
}
@media screen and (max-width: 1180px) and (min-width: 781px) {
  /* line 75, ../sass/_base.scss */
  #block-views-front-banner-block .slick-next {
    right: 10px;
  }
}
/* line 87, ../sass/_base.scss */
#block-views-front-banner-block .slick-dots {
  width: 100%;
  position: absolute;
  text-align: center;
}
@media (min-width: 471px) {
  /* line 87, ../sass/_base.scss */
  #block-views-front-banner-block .slick-dots {
    bottom: 45px;
  }
}
@media (max-width: 470px) {
  /* line 87, ../sass/_base.scss */
  #block-views-front-banner-block .slick-dots {
    bottom: 15px;
  }
}
@media (min-width: 471px) {
  /* line 97, ../sass/_base.scss */
  #block-views-front-banner-block .slick-dots li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 470px) {
  /* line 97, ../sass/_base.scss */
  #block-views-front-banner-block .slick-dots li {
    width: 50%;
    float: left;
    list-style: none;
    margin-bottom: 15px;
  }
  /* line 107, ../sass/_base.scss */
  #block-views-front-banner-block .slick-dots li span {
    width: 100%;
    text-align: center;
  }
}
/* line 113, ../sass/_base.scss */
#block-views-front-banner-block .slick-dots li.slick-active span {
  border-bottom-color: white;
}
/* line 118, ../sass/_base.scss */
#block-views-front-banner-block .slick-dots span {
  display: block;
  text-align: left;
  color: white;
  cursor: pointer;
  padding-bottom: 10px;
  transition: .3s;
  border-bottom: 4px solid rgba(255, 255, 255, 0.6);
  font: 16px 'HelveticaNeue-Light';
}
@media (min-width: 761px) {
  /* line 118, ../sass/_base.scss */
  #block-views-front-banner-block .slick-dots span {
    width: 170px;
  }
}
/* line 132, ../sass/_base.scss */
#block-views-front-banner-block .description {
  position: absolute;
  top: 271px;
  left: 0;
  right: 0;
  color: #fff;
}
@media (max-width: 900px) {
  /* line 132, ../sass/_base.scss */
  #block-views-front-banner-block .description {
    text-align: center;
  }
}
/* line 141, ../sass/_base.scss */
#block-views-front-banner-block .description .title {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.63);
  padding-left: 5px;
}
@media (min-width: 761px) {
  /* line 141, ../sass/_base.scss */
  #block-views-front-banner-block .description .title {
    font: 78px/1.2 'prataregular';
  }
}
@media screen and (max-width: 760px) and (min-width: 551px) {
  /* line 141, ../sass/_base.scss */
  #block-views-front-banner-block .description .title {
    font: 55px/1.2 'prataregular';
  }
}
@media (max-width: 550px) {
  /* line 141, ../sass/_base.scss */
  #block-views-front-banner-block .description .title {
    font: 35px/1.2 'prataregular';
  }
}
/* line 154, ../sass/_base.scss */
#block-views-front-banner-block .description p {
  font: 21px 'HelveticaNeue-Light';
  line-height: 1.283;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.63);
  padding-left: 5px;
}
@media (min-width: 901px) {
  /* line 154, ../sass/_base.scss */
  #block-views-front-banner-block .description p {
    text-align: left;
    width: 65%;
  }
}
/* line 165, ../sass/_base.scss */
#block-views-front-banner-block .button {
  margin-top: 20px;
}
/* line 167, ../sass/_base.scss */
#block-views-front-banner-block .button a {
  display: block;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.63);
  font: 16px 'HelveticaNeue-Light';
  border: 1px solid white;
  border-radius: 50px;
  width: 150px;
  height: 41px;
  line-height: 41px;
  text-align: center;
}
@media (max-width: 900px) {
  /* line 167, ../sass/_base.scss */
  #block-views-front-banner-block .button a {
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 186, ../sass/_base.scss */
#block-block-5 {
  padding-bottom: 90px;
}
/* line 188, ../sass/_base.scss */
#block-block-5 .block__title {
  text-align: center;
  font: 55px 'prataregular';
  margin-bottom: 25px;
}

/* line 195, ../sass/_base.scss */
#block-block-4 {
  padding-top: 75px;
  padding-bottom: 85px;
}
/* line 198, ../sass/_base.scss */
#block-block-4 .block__title {
  text-align: center;
}
@media (min-width: 333px) {
  /* line 198, ../sass/_base.scss */
  #block-block-4 .block__title {
    font: 55px 'prataregular';
    margin-bottom: 25px;
  }
}
@media (max-width: 332px) {
  /* line 198, ../sass/_base.scss */
  #block-block-4 .block__title {
    font: 45px 'prataregular';
    margin-bottom: 15px;
  }
}
/* line 209, ../sass/_base.scss */
#block-block-4 .header__top {
  text-align: center;
  font: 18px/1.389 'HelveticaNeue-Light';
}

/* line 215, ../sass/_base.scss */
.tools-list {
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}
/* line 220, ../sass/_base.scss */
.tools-list .list-items {
  text-align: center;
}
@media (min-width: 626px) {
  /* line 220, ../sass/_base.scss */
  .tools-list .list-items {
    width: 33.33333%;
    float: left;
  }
}
@media (max-width: 625px) {
  /* line 220, ../sass/_base.scss */
  .tools-list .list-items {
    margin-bottom: 20px;
  }
}
/* line 229, ../sass/_base.scss */
.tools-list h3 {
  padding-top: 25px;
  padding-bottom: 15px;
  font: 23px 'HelveticaNeue-Light';
}
/* line 234, ../sass/_base.scss */
.tools-list p {
  font: 16px/1.375 'HelveticaNeue-Light';
  text-align: center;
}

/* line 240, ../sass/_base.scss */
#block-block-3 {
  background-color: #F5F5F5;
  padding-top: 70px;
  padding-bottom: 55px;
}
/* line 244, ../sass/_base.scss */
#block-block-3 .block__title {
  text-align: center;
}
@media (min-width: 571px) {
  /* line 244, ../sass/_base.scss */
  #block-block-3 .block__title {
    font: 55px 'prataregular';
    margin-bottom: 60px;
  }
}
@media (max-width: 570px) {
  /* line 244, ../sass/_base.scss */
  #block-block-3 .block__title {
    font: 30px 'prataregular';
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  /* line 255, ../sass/_base.scss */
  #block-block-3 .row {
    margin-bottom: 20px;
  }
}
/* line 260, ../sass/_base.scss */
#block-block-3 .row:first-child, #block-block-3 .row:last-child {
  padding-top: 15px;
}
@media (min-width: 950px) {
  /* line 260, ../sass/_base.scss */
  #block-block-3 .row:first-child, #block-block-3 .row:last-child {
    width: 29%;
    float: left;
  }
}
@media screen and (max-width: 949px) and (min-width: 769px) {
  /* line 260, ../sass/_base.scss */
  #block-block-3 .row:first-child, #block-block-3 .row:last-child {
    width: 33.33333%;
    float: left;
  }
}
/* line 269, ../sass/_base.scss */
#block-block-3 p {
  font: 16px/1.563 'HelveticaNeue-Light';
}
/* line 271, ../sass/_base.scss */
#block-block-3 p:first-child {
  margin-bottom: 25px;
}
@media (min-width: 950px) {
  /* line 275, ../sass/_base.scss */
  #block-block-3 .row:nth-child(2) {
    width: 42%;
    float: left;
  }
}
@media screen and (max-width: 949px) and (min-width: 769px) {
  /* line 275, ../sass/_base.scss */
  #block-block-3 .row:nth-child(2) {
    width: 33.33333%;
    float: left;
  }
}
/* line 283, ../sass/_base.scss */
#block-block-3 .read-more {
  clear: left;
  text-align: center;
}
/* line 286, ../sass/_base.scss */
#block-block-3 .read-more a {
  display: block;
  color: #000;
  font: 16px/40px 'HelveticaNeue-Light';
  border: 1px solid #000;
  border-radius: 50px;
  width: 165px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}
/* line 298, ../sass/_base.scss */
#block-block-3 img {
  width: 100%;
  height: auto;
}

/* line 304, ../sass/_base.scss */
#block-block-2 {
  background: url("../images/committed.jpg") no-repeat center top;
}
@media (min-width: 768px) {
  /* line 304, ../sass/_base.scss */
  #block-block-2 {
    padding-top: 70px;
    height: 600px;
  }
}
@media screen and (max-width: 767px) and (min-width: 551px) {
  /* line 304, ../sass/_base.scss */
  #block-block-2 {
    padding-top: 30px;
    height: 350px;
  }
}
@media (max-width: 550px) {
  /* line 304, ../sass/_base.scss */
  #block-block-2 {
    padding-top: 25px;
    padding-bottom: 30px;
  }
}
/* line 318, ../sass/_base.scss */
#block-block-2 .block__title {
  text-align: center;
}
@media (min-width: 768px) {
  /* line 318, ../sass/_base.scss */
  #block-block-2 .block__title {
    font: 55px 'prataregular';
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 767px) and (min-width: 551px) {
  /* line 318, ../sass/_base.scss */
  #block-block-2 .block__title {
    font: 35px 'prataregular';
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  /* line 318, ../sass/_base.scss */
  #block-block-2 .block__title {
    font: 30px 'prataregular';
  }
}
/* line 332, ../sass/_base.scss */
#block-block-2 p {
  color: #000;
  font: 16px/1.563 'HelveticaNeue-Light';
}
@media (min-width: 768px) {
  /* line 332, ../sass/_base.scss */
  #block-block-2 p {
    width: 29.16667%;
    float: left;
  }
}
@media (max-width: 767px) {
  /* line 332, ../sass/_base.scss */
  #block-block-2 p {
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  /* line 343, ../sass/_base.scss */
  #block-block-2 p:last-child {
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 391px) {
  /* line 350, ../sass/_base.scss */
  #block-views-recent-news-block {
    padding-top: 60px;
    padding-bottom: 65px;
  }
}
@media (max-width: 390px) {
  /* line 350, ../sass/_base.scss */
  #block-views-recent-news-block {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
/* line 359, ../sass/_base.scss */
#block-views-recent-news-block .block__title {
  text-align: center;
}
@media (min-width: 391px) {
  /* line 359, ../sass/_base.scss */
  #block-views-recent-news-block .block__title {
    font: 55px 'prataregular';
    margin-bottom: 45px;
  }
}
@media (max-width: 390px) {
  /* line 359, ../sass/_base.scss */
  #block-views-recent-news-block .block__title {
    font: 35px 'prataregular';
    margin-bottom: 25px;
  }
}
/* line 370, ../sass/_base.scss */
#block-views-recent-news-block .view-footer {
  padding-top: 35px;
}
/* line 374, ../sass/_base.scss */
#block-views-recent-news-block .button a {
  color: #000;
  border-radius: 50px;
  display: block;
  font: 15px/40px 'HelveticaNeue-Light';
  border: 1px solid #000;
  width: 165px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/* line 386, ../sass/_base.scss */
#block-views-recent-news-block .slick-arrow {
  position: absolute;
  top: 45%;
  width: 16px;
  height: 27px;
  border: none;
  background-color: transparent;
  color: transparent;
  cursor: pointer;
}
/* line 396, ../sass/_base.scss */
#block-views-recent-news-block .slick-prev {
  background-image: url("../images/prev.png");
}
@media (min-width: 1270px) {
  /* line 396, ../sass/_base.scss */
  #block-views-recent-news-block .slick-prev {
    left: -65px;
  }
}
@media (max-width: 1269px) {
  /* line 396, ../sass/_base.scss */
  #block-views-recent-news-block .slick-prev {
    left: 5px;
  }
}
/* line 405, ../sass/_base.scss */
#block-views-recent-news-block .slick-next {
  background-image: url("../images/next.png");
}
@media (min-width: 1270px) {
  /* line 405, ../sass/_base.scss */
  #block-views-recent-news-block .slick-next {
    right: -65px;
  }
}
@media (max-width: 1269px) {
  /* line 405, ../sass/_base.scss */
  #block-views-recent-news-block .slick-next {
    right: 5px;
    z-index: 99999;
  }
}
@media (min-width: 391px) {
  /* line 415, ../sass/_base.scss */
  #block-views-recent-news-block .slick-slide {
    padding: 8px 35px;
    border-right: 1px solid #B0B0B0;
  }
}
/* line 422, ../sass/_base.scss */
#block-views-recent-news-block .slick-slider:after {
  content: '';
  width: 20px;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
/* line 434, ../sass/_base.scss */
#block-views-recent-news-block .title a {
  color: black;
  font: 20px/1.2 'HelveticaNeue-Light';
}
/* line 439, ../sass/_base.scss */
#block-views-recent-news-block .summary {
  margin-top: 25px;
  margin-bottom: 25px;
  font: 16px/1.375 'HelveticaNeue-Light';
}
/* line 445, ../sass/_base.scss */
#block-views-recent-news-block .read-more a {
  color: #000;
  font: 15px/1.2 'HelveticaNeue-Light';
}
/* line 448, ../sass/_base.scss */
#block-views-recent-news-block .read-more a:after {
  content: "";
  margin-left: 6px;
  margin-top: 7px;
  background: url("../images/arrow.png") no-repeat center;
  width: 5px;
  height: 10px;
  position: absolute;
}

/* line 461, ../sass/_base.scss */
#block-simplenews-0 {
  overflow: hidden;
  margin-bottom: 50px;
}
/* line 464, ../sass/_base.scss */
#block-simplenews-0 label {
  display: none;
}
/* line 467, ../sass/_base.scss */
#block-simplenews-0 input[value="Unsubscribe"] {
  display: none;
}
@media (min-width: 411px) {
  /* line 470, ../sass/_base.scss */
  #block-simplenews-0 .form-item-mail {
    width: 155px;
    float: left;
  }
}
@media (max-width: 410px) {
  /* line 470, ../sass/_base.scss */
  #block-simplenews-0 .form-item-mail {
    width: 100%;
    margin-bottom: 10px;
  }
}
/* line 479, ../sass/_base.scss */
#block-simplenews-0 .form-item-mail input {
  width: 100%;
  height: 38px;
  border: none;
  border-radius: 0;
  background-color: #9C9C9C;
  color: #fff;
  padding-left: 14px;
  font: 13px/38px 'HelveticaNeue-Light';
}
/* line 490, ../sass/_base.scss */
#block-simplenews-0 input[value="Submit"] {
  cursor: pointer;
  border: none;
  border-radius: 0;
  background-color: #CDCDCD;
  text-align: center;
  color: #585858;
  font: 13px/36px 'HelveticaNeue-Light';
  padding-left: 15px;
  padding-right: 15px;
  height: 38px;
}
@media (min-width: 411px) {
  /* line 490, ../sass/_base.scss */
  #block-simplenews-0 input[value="Submit"] {
    float: left;
  }
}
@media (max-width: 410px) {
  /* line 490, ../sass/_base.scss */
  #block-simplenews-0 input[value="Submit"] {
    width: 100%;
  }
}

/* line 510, ../sass/_base.scss */
#block-menu-menu-soc-button {
  margin-bottom: 0 !important;
}
@media (max-width: 410px) {
  /* line 510, ../sass/_base.scss */
  #block-menu-menu-soc-button {
    text-align: center;
  }
}
/* line 515, ../sass/_base.scss */
#block-menu-menu-soc-button .menu {
  margin-top: 15px;
}
/* line 517, ../sass/_base.scss */
#block-menu-menu-soc-button .menu li {
  display: inline-block;
  margin-right: 10px;
}
/* line 521, ../sass/_base.scss */
#block-menu-menu-soc-button .menu a {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 531, ../sass/_base.scss */
#block-menu-menu-soc-button .facebook {
  background-image: url("../images/facebook.png");
}
/* line 534, ../sass/_base.scss */
#block-menu-menu-soc-button .twitter {
  background-image: url("../images/twitter.png");
}
/* line 537, ../sass/_base.scss */
#block-menu-menu-soc-button .google {
  background-image: url("../images/google.png");
}
/* line 540, ../sass/_base.scss */
#block-menu-menu-soc-button .linkedin {
  background-image: url("../images/linkedin.png");
}

/* line 545, ../sass/_base.scss */
.footer {
  background-color: #585858;
}
@media (min-width: 411px) {
  /* line 545, ../sass/_base.scss */
  .footer {
    padding-top: 70px;
    padding-bottom: 65px;
  }
}
@media (max-width: 410px) {
  /* line 545, ../sass/_base.scss */
  .footer {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}
/* line 555, ../sass/_base.scss */
.footer .block__title {
  color: #fff;
  font: 16px 'helveticaneuemedium';
  margin-bottom: 10px;
}
/* line 560, ../sass/_base.scss */
.footer .menu {
  list-style: none;
}
/* line 562, ../sass/_base.scss */
.footer .menu a {
  color: #fff;
  font: 13px/1.462 'HelveticaNeue-Light';
}
/* line 567, ../sass/_base.scss */
.footer .block-menu {
  margin-bottom: 35px;
  min-height: 130px;
}

@media (min-width: 936px) {
  /* line 573, ../sass/_base.scss */
  .footer-logo {
    width: 25.65833%;
    float: left;
  }
}
@media (max-width: 935px) {
  /* line 573, ../sass/_base.scss */
  .footer-logo {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 936px) {
  /* line 583, ../sass/_base.scss */
  .region-footer-first {
    width: 17.5%;
    float: left;
  }
}
@media (max-width: 935px) {
  /* line 583, ../sass/_base.scss */
  .region-footer-first {
    width: 50%;
    float: left;
  }
}
@media (max-width: 410px) {
  /* line 583, ../sass/_base.scss */
  .region-footer-first {
    display: none;
  }
}

@media (min-width: 936px) {
  /* line 595, ../sass/_base.scss */
  .region-footer-second {
    width: 17.5%;
    float: left;
  }
}
@media (max-width: 935px) {
  /* line 595, ../sass/_base.scss */
  .region-footer-second {
    width: 50%;
    float: left;
  }
}
@media (max-width: 410px) {
  /* line 595, ../sass/_base.scss */
  .region-footer-second {
    display: none;
  }
}

@media (min-width: 936px) {
  /* line 607, ../sass/_base.scss */
  .region-footer-third {
    width: 17.5%;
    float: left;
  }
}
@media (max-width: 935px) {
  /* line 607, ../sass/_base.scss */
  .region-footer-third {
    width: 50%;
    float: left;
  }
}
@media (max-width: 410px) {
  /* line 607, ../sass/_base.scss */
  .region-footer-third {
    display: none;
  }
}

@media (min-width: 936px) {
  /* line 619, ../sass/_base.scss */
  .region-footer-last {
    width: 21.00833%;
    float: left;
  }
}
@media (max-width: 935px) and (min-width: 411px) {
  /* line 619, ../sass/_base.scss */
  .region-footer-last {
    width: 50%;
    float: left;
  }
}
@media (max-width: 410px) {
  /* line 627, ../sass/_base.scss */
  .region-footer-last #block-menu-menu-export {
    display: none;
  }
}

/* line 633, ../sass/_base.scss */
.bottom {
  background-color: #3d3d3d;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 637, ../sass/_base.scss */
.bottom p {
  font-family: 'HelveticaNeue-Light';
  color: #afafaf;
}
@media (min-width: 411px) {
  /* line 637, ../sass/_base.scss */
  .bottom p {
    width: 50%;
    float: left;
  }
}
@media (max-width: 410px) {
  /* line 637, ../sass/_base.scss */
  .bottom p {
    text-align: center !important;
    margin-bottom: 15px;
  }
}
/* line 647, ../sass/_base.scss */
.bottom p:first-child {
  text-align: left;
}
/* line 650, ../sass/_base.scss */
.bottom p:last-child {
  text-align: right;
}
/* line 653, ../sass/_base.scss */
.bottom p a {
  color: #afafaf;
}

/* line 659, ../sass/_base.scss */
.wrap-items {
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 551px) {
  /* line 663, ../sass/_base.scss */
  .wrap-items .item {
    width: 49.5%;
    float: left;
  }
  /* line 666, ../sass/_base.scss */
  .wrap-items .item:last-child {
    float: right;
    margin-right: 0;
  }
}
/* line 670, ../sass/_base.scss */
.wrap-items .item a {
  color: #fff;
}
/* line 675, ../sass/_base.scss */
.wrap-items .item-first .col:first-child a {
  background: url("../images/excellence.jpg") no-repeat center;
  height: 472px;
  margin-bottom: 10px;
}
/* line 680, ../sass/_base.scss */
.wrap-items .item-first .col:last-child a {
  background: url("../images/legacy.jpg") no-repeat center;
  height: 237px;
}
@media (max-width: 550px) {
  /* line 680, ../sass/_base.scss */
  .wrap-items .item-first .col:last-child a {
    margin-bottom: 10px;
  }
}
/* line 689, ../sass/_base.scss */
.wrap-items .item-last .col:first-child a {
  background: url("../images/conduct.jpg") no-repeat center;
  height: 236px;
  margin-bottom: 10px;
}
/* line 694, ../sass/_base.scss */
.wrap-items .item-last .col:last-child a {
  background: url("../images/reach.jpg") no-repeat center;
  height: 472px;
}
@media (max-width: 550px) {
  /* line 694, ../sass/_base.scss */
  .wrap-items .item-last .col:last-child a {
    margin-bottom: 10px;
  }
}
/* line 703, ../sass/_base.scss */
.wrap-items .col a {
  position: relative;
  width: 100%;
}
/* line 710, ../sass/_base.scss */
.wrap-items .col a:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease .15s;
}
/* line 723, ../sass/_base.scss */
.wrap-items .col a:hover:before {
  opacity: 1;
  visibility: visible;
}
/* line 730, ../sass/_base.scss */
.wrap-items .wrap-link {
  text-align: center;
  position: relative;
  z-index: 6;
}
/* line 734, ../sass/_base.scss */
.wrap-items .wrap-link img {
  margin-top: 15px;
  margin-bottom: 10px;
}
/* line 738, ../sass/_base.scss */
.wrap-items .wrap-link .title {
  font: 19px 'HelveticaNeue-Light';
}
/* line 741, ../sass/_base.scss */
.wrap-items .wrap-link p {
  font: 16px/1.375 'HelveticaNeue-Light';
}

/* line 747, ../sass/_base.scss */
#block-block-5 {
  padding-top: 65px;
}
/* line 749, ../sass/_base.scss */
#block-block-5 .title-top {
  text-align: center;
  font: 18px/1.389 'HelveticaNeue-Light';
  margin-bottom: 35px;
}

/* line 756, ../sass/_base.scss */
#block-block-6 {
  background-color: #F5F5F5;
  padding-top: 60px;
  padding-bottom: 95px;
}
/* line 760, ../sass/_base.scss */
#block-block-6 .block__title {
  text-align: center;
}
@media (min-width: 391px) {
  /* line 760, ../sass/_base.scss */
  #block-block-6 .block__title {
    font: 55px 'prataregular';
    margin-bottom: 45px;
  }
}
@media (max-width: 390px) {
  /* line 760, ../sass/_base.scss */
  #block-block-6 .block__title {
    font: 35px 'prataregular';
    margin-bottom: 25px;
  }
}
/* line 771, ../sass/_base.scss */
#block-block-6 .headerTop {
  text-align: center;
  font: 18px/1.389 'HelveticaNeue-Light';
  margin-bottom: 45px;
}

/* line 778, ../sass/_base.scss */
.oasis-assist {
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
}
/* line 782, ../sass/_base.scss */
.oasis-assist .item {
  color: white;
}
@media (min-width: 769px) {
  /* line 782, ../sass/_base.scss */
  .oasis-assist .item {
    width: 33.33333%;
    float: left;
    padding-right: 10px;
  }
}
@media (max-width: 768px) {
  /* line 782, ../sass/_base.scss */
  .oasis-assist .item {
    margin-bottom: 15px;
  }
}
@media (min-width: 769px) {
  /* line 792, ../sass/_base.scss */
  .oasis-assist .item-wrap {
    height: 532px;
  }
}
@media (max-width: 768px) {
  /* line 798, ../sass/_base.scss */
  .oasis-assist .item-wrap > h3 br {
    display: none;
  }
}
/* line 805, ../sass/_base.scss */
.oasis-assist .item-first .item-wrap {
  background: url("../images/oasis-assist-1.jpg") no-repeat center/cover;
}
/* line 808, ../sass/_base.scss */
.oasis-assist .item-first .first {
  background: url("../images/oasis-assist-bg-1.png") no-repeat left center;
}
/* line 811, ../sass/_base.scss */
.oasis-assist .item-first .second {
  background: url("../images/oasis-assist-bg-2.png") no-repeat 5px center;
}
/* line 814, ../sass/_base.scss */
.oasis-assist .item-first .last {
  background: url("../images/oasis-assist-bg-3.png") no-repeat 5px center;
}
/* line 819, ../sass/_base.scss */
.oasis-assist .item-second .item-wrap {
  background: url("../images/oasis-assist-2.jpg") no-repeat center/cover;
}
/* line 822, ../sass/_base.scss */
.oasis-assist .item-second .first {
  background: url("../images/oasis-assist-bg-5.png") no-repeat left center;
}
/* line 825, ../sass/_base.scss */
.oasis-assist .item-second .second {
  background: url("../images/oasis-assist-bg-4.png") no-repeat 5px center;
}
/* line 828, ../sass/_base.scss */
.oasis-assist .item-second .third {
  background: url("../images/oasis-assist-bg-1.png") no-repeat left center;
}
/* line 831, ../sass/_base.scss */
.oasis-assist .item-second .last {
  background: url("../images/oasis-assist-bg-2.png") no-repeat 5px center;
}
/* line 836, ../sass/_base.scss */
.oasis-assist .item-last .item-wrap {
  background: url("../images/oasis-assist-3.jpg") no-repeat center/cover;
}
/* line 839, ../sass/_base.scss */
.oasis-assist .item-last .first {
  background: url("../images/oasis-assist-bg-6.png") no-repeat left center;
}
/* line 842, ../sass/_base.scss */
.oasis-assist .item-last .second {
  background: url("../images/oasis-assist-bg-1.png") no-repeat left center;
}
/* line 845, ../sass/_base.scss */
.oasis-assist .item-last .third {
  background: url("../images/oasis-assist-bg-3.png") no-repeat left center;
}
/* line 848, ../sass/_base.scss */
.oasis-assist .item-last .fourth {
  background: url("../images/oasis-assist-bg-7.png") no-repeat left center;
}
/* line 851, ../sass/_base.scss */
.oasis-assist .item-last .last {
  background: url("../images/oasis-assist-bg-8.png") no-repeat left center;
}
/* line 856, ../sass/_base.scss */
.oasis-assist .item-wrap > h3 {
  padding-top: 45px;
  font: 32px/1.125 'HelveticaNeue-Light';
  text-align: center;
}
/* line 862, ../sass/_base.scss */
.oasis-assist section {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;
  align-items: flex-end;
}
@media (min-width: 769px) {
  /* line 862, ../sass/_base.scss */
  .oasis-assist section {
    height: 415px;
  }
}
@media (max-width: 768px) {
  /* line 862, ../sass/_base.scss */
  .oasis-assist section {
    padding-top: 25px;
  }
}
/* line 875, ../sass/_base.scss */
.oasis-assist section h3 {
  margin-bottom: 13px;
  padding-left: 35px;
}
/* line 878, ../sass/_base.scss */
.oasis-assist section h3 a {
  color: white;
  font: 21px 'HelveticaNeue-Light';
}
/* line 885, ../sass/_base.scss */
.oasis-assist div[data-collapse="accordion"] > div {
  font: 14px/1.286 'HelveticaNeue-Light';
  padding-left: 30px;
}
