







<div class="oasis-assist">
    <div class="item item-first">
        <div class="item-wrap">
        <h3>Residential<br>Clients</h3>
            <section>
        <div id="accordion-example" data-collapse="accordion">
            <h3 class="first">Colour Consultancy</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
            <h3 class="second">Approved Applicators</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
            <h3 class="last">Mockups</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
        </div>
            </section>
        </div>
    </div>
    <div class="item item-second">
        <div class="item-wrap">
        <h3>Commercial &<br>Industrial Clients</h3>
            <section>
        <div id="accordion-example" data-collapse="accordion">
            <h3 class="first">Product Trials</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
            <h3 class="second">Technical Evaluation</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
            <h3 class="third">Colour Consultancy</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
            <h3 class="last">Approved Applicators</h3>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
        </div>
            </section>
            </div>
    </div>
    <div class="item item-last">
        <div class="item-wrap">
            <h3>Partners &<br>Trades</h3>
            <section>
            <div id="accordion-example" data-collapse="accordion">
                <h3 class="first">Tinting Services</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
                <h3 class="second">Colour Consultancy</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
                <h3 class="third">Mockups</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
                <h3 class="fourth">Painter Training Programs</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
                <h3 class="last">Painter Meets</h3>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus dignissim nisi et scelerisque. Vestibulum ut felis in metus facilisis convallis a vitae enim</div>
            </div>
            </section>
        </div>
    </div>
</div>