header.header {
  position: relative;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  padding-top: 32px;
}

.header-logo {
  @media (min-width: 801px) {
    @include span(4);
  }
  @media (max-width: 800px) {
    text-align: center;
  }
}

.header-menu {
  @media (min-width: 801px) {
    @include span(8);
  }
  .menu {
    @extend .flex;
    @extend .justify-content-space-between;
    list-style: none;
    padding-top: 10px;
    a {
      color: white;
      text-transform: uppercase;
      font: 15px 'helveticaneuemedium';
    }
  }
}

.responsive-menus {
  @media (max-width: 600px) {
    margin-top: 25px;
  }
}

#block-views-front-banner-block {
  .slick-arrow {
    position: absolute;
    z-index: 1;
    width: 15px;
    height: 27px;
    color: transparent;
    cursor: pointer;
    border: none;
    background-color: transparent;
    @media (min-width: 1181px) {
      top: 48%;
    }
    @media screen and (max-width: 1180px) and (min-width: 792px) {
      bottom: 45px;
    }
  }
  .slick-prev {
    background-image: url("../images/slick-prev.png");
    @media (min-width: 1260px) {
      left: 45px;
    }
    @media screen and (max-width: 1259px) and (min-width: 1181px) {
      left: 0;
    }
    @media screen and (max-width: 1180px) and (min-width: 781px) {
      left: 10px;
    }
  }
  .slick-next {
    background-image: url("../images/slick-next.png");
    @media (min-width: 1260px) {
      right: 45px;
    }
    @media screen and (max-width: 1259px) and (min-width: 1180px) {
      right: 0;
    }
    @media screen and (max-width: 1180px) and (min-width: 781px) {
      right: 10px;
    }
  }
  .slick-dots {
    width: 100%;
    position: absolute;
    text-align: center;
    @media (min-width: 471px) {
      bottom: 45px;
    }
    @media (max-width: 470px) {
      bottom: 15px;
    }
    li {
      @media (min-width: 471px) {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
      }
      @media (max-width: 470px) {
        @include span(6);
        list-style: none;
        margin-bottom: 15px;
        span {
          width: 100%;
          text-align: center;
        }
      }
      &.slick-active {
        span {
          border-bottom-color: rgba(255, 255, 255, 1);
        }
      }
    }
    span {
      display: block;
      text-align: left;
      color: white;
      cursor: pointer;
      padding-bottom: 10px;
      transition: .3s;
      border-bottom: 4px solid rgba(255, 255, 255, .6);
      font: 16px 'HelveticaNeue-Light';
      @media (min-width: 761px) {
        width: 170px;
      }
    }
  }
  .description {
    position: absolute;
    top: 271px;
    left: 0;
    right: 0;
    color: #fff;
    @media (max-width: 900px) {
      text-align: center;
    }
    .title {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.63);
      padding-left: 5px;
      @media (min-width: 761px) {
        font: 78px/1.2 'prataregular';
      }
      @media screen and (max-width: 760px) and (min-width: 551px) {
        font: 55px/1.2 'prataregular';
      }
      @media (max-width: 550px) {
        font: 35px/1.2 'prataregular';
      }
    }
    p {
      font: 21px 'HelveticaNeue-Light';
      line-height: 1.283;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.63);
      padding-left: 5px;
      @media (min-width: 901px) {
        text-align: left;
        width: 65%;
      }
    }
  }
  .button {
    margin-top: 20px;
    a {
      display: block;
      color: white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.63);
      font: 16px 'HelveticaNeue-Light';
      border: 1px solid white;
      border-radius: 50px;
      width: 150px;
      height: 41px;
      line-height: 41px;
      text-align: center;
      @media (max-width: 900px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

#block-block-5 {
  padding-bottom: 90px;
  .block__title {
    text-align: center;
    font: 55px 'prataregular';
    margin-bottom: 25px;
  }
}

#block-block-4 {
  padding-top: 75px;
  padding-bottom: 85px;
  .block__title {
    text-align: center;
    @media (min-width: 333px) {
      font: 55px 'prataregular';
      margin-bottom: 25px;
    }
    @media (max-width: 332px) {
      font: 45px 'prataregular';
      margin-bottom: 15px;
    }
  }
  .header__top {
    text-align: center;
    font: 18px/1.389 'HelveticaNeue-Light';
  }
}

.tools-list {
  max-width: 890px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  .list-items {
    text-align: center;
    @media (min-width: 626px) {
      @include span(4);
    }
    @media (max-width: 625px) {
      margin-bottom: 20px;
    }
  }
  h3 {
    padding-top: 25px;
    padding-bottom: 15px;
    font: 23px 'HelveticaNeue-Light';
  }
  p {
    font: 16px/1.375 'HelveticaNeue-Light';
    text-align: center;
  }
}

#block-block-3 {
  background-color: #F5F5F5;
  padding-top: 70px;
  padding-bottom: 55px;
  .block__title {
    text-align: center;
    @media (min-width: 571px) {
      font: 55px 'prataregular';
      margin-bottom: 60px;
    }
    @media (max-width: 570px) {
      font: 30px 'prataregular';
      margin-bottom: 20px;
    }
  }
  .row {
    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .row:first-child, .row:last-child {
    padding-top: 15px;
    @media (min-width: 950px) {
      @include span(3.48);
    }
    @media screen and (max-width: 949px) and (min-width: 769px) {
      @include span(4);
    }
  }
  p {
    font: 16px/1.563 'HelveticaNeue-Light';
    &:first-child {
      margin-bottom: 25px;
    }
  }
  .row:nth-child(2) {
    @media (min-width: 950px) {
      @include span(5.04);
    }
    @media screen and (max-width: 949px) and (min-width: 769px) {
      @include span(4);
    }
  }
  .read-more {
    clear: left;
    text-align: center;
    a {
      display: block;
      color: #000;
      font: 16px/40px 'HelveticaNeue-Light';
      border: 1px solid #000;
      border-radius: 50px;
      width: 165px;
      height: 40px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}

#block-block-2 {
  background: url("../images/committed.jpg") no-repeat center top;
  @media (min-width: 768px) {
    padding-top: 70px;
    height: 600px;
  }
  @media screen and (max-width: 767px) and (min-width: 551px) {
    padding-top: 30px;
    height: 350px;
  }
  @media (max-width: 550px) {
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .block__title {
    text-align: center;
    @media (min-width: 768px) {
      font: 55px 'prataregular';
      margin-bottom: 45px;
    }
    @media screen and (max-width: 767px) and (min-width: 551px) {
      font: 35px 'prataregular';
      margin-bottom: 20px;
    }
    @media (max-width: 550px) {
      font: 30px 'prataregular';
    }
  }
  p {
    color: #000;
    font: 16px/1.563 'HelveticaNeue-Light';
    @media (min-width: 768px) {
      @include span(3.5);
    }
    @media (max-width: 767px) {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  p:last-child {
    @media (min-width: 768px) {
      @include span(last);
    }
  }
}

#block-views-recent-news-block {
  @media (min-width: 391px) {
    padding-top: 60px;
    padding-bottom: 65px;
  }
  @media (max-width: 390px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .block__title {
    text-align: center;
    @media (min-width: 391px) {
      font: 55px 'prataregular';
      margin-bottom: 45px;
    }
    @media (max-width: 390px) {
      font: 35px 'prataregular';
      margin-bottom: 25px;
    }
  }
  .view-footer {
    padding-top: 35px;
  }
  .button {
    a {
      color: #000;
      border-radius: 50px;
      display: block;
      font: 15px/40px 'HelveticaNeue-Light';
      border: 1px solid #000;
      width: 165px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 45%;
    width: 16px;
    height: 27px;
    border: none;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
  }
  .slick-prev {
    background-image: url("../images/prev.png");
    @media (min-width: 1270px) {
      left: -65px;
    }
    @media (max-width: 1269px) {
      left: 5px;
    }
  }
  .slick-next {
    background-image: url("../images/next.png");
    @media (min-width: 1270px) {
      right: -65px;
    }
    @media (max-width: 1269px) {
      right: 5px;
      z-index: 99999;
    }
  }
  .slick-slide {
    @media (min-width: 391px) {
      padding: 8px 35px;
      border-right: 1px solid #B0B0B0;
    }
  }
  .slick-slider {
    &:after {
      content: '';
      width: 20px;
      height: 100%;
      background-color: white;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
    }
  }
  .title {
    a {
      color: rgb(0, 0, 0);
      font: 20px/1.2 'HelveticaNeue-Light';
    }
  }
  .summary {
    margin-top: 25px;
    margin-bottom: 25px;
    font: 16px/1.375 'HelveticaNeue-Light';
  }
  .read-more {
    a {
      color: #000;
      font: 15px/1.2 'HelveticaNeue-Light';
      &:after {
        content: "";
        margin-left: 6px;
        margin-top: 7px;
        background: url("../images/arrow.png") no-repeat center;
        width: 5px;
        height: 10px;
        position: absolute;
      }
    }
  }
}

#block-simplenews-0 {
  overflow: hidden;
  margin-bottom: 50px;
  label {
    display: none;
  }
  input[value="Unsubscribe"] {
    display: none;
  }
  .form-item-mail {
    @media (min-width: 411px) {
      width: 155px;
      float: left;
    }
    @media (max-width: 410px) {
      width: 100%;
      margin-bottom: 10px;
    }
    input {
      width: 100%;
      height: 38px;
      border: none;
      border-radius: 0;
      background-color: #9C9C9C;
      color: #fff;
      padding-left: 14px;
      font: 13px/38px 'HelveticaNeue-Light';
    }
  }
  input[value="Submit"] {
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: #CDCDCD;
    text-align: center;
    color: #585858;
    font: 13px/36px 'HelveticaNeue-Light';
    padding-left: 15px;
    padding-right: 15px;
    height: 38px;
    @media (min-width: 411px) {
      float: left;
    }
    @media (max-width: 410px) {
      width: 100%;
    }
  }
}

#block-menu-menu-soc-button {
  margin-bottom: 0 !important;
  @media (max-width: 410px) {
    text-align: center;
  }
  .menu {
    margin-top: 15px;
    li {
      display: inline-block;
      margin-right: 10px;
    }
    a {
      display: block;
      width: 27px;
      height: 27px;
      border-radius: 100%;
      color: transparent;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .facebook {
    background-image: url("../images/facebook.png");
  }
  .twitter {
    background-image: url("../images/twitter.png");
  }
  .google {
    background-image: url("../images/google.png");
  }
  .linkedin {
    background-image: url("../images/linkedin.png");
  }
}

.footer {
  background-color: #585858;
  @media (min-width: 411px) {
    padding-top: 70px;
    padding-bottom: 65px;
  }
  @media (max-width: 410px) {
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .block__title {
    color: #fff;
    font: 16px 'helveticaneuemedium';
    margin-bottom: 10px;
  }
  .menu {
    list-style: none;
    a {
      color: #fff;
      font: 13px/1.462 'HelveticaNeue-Light';
    }
  }
  .block-menu {
    margin-bottom: 35px;
    min-height: 130px;
  }
}

.footer-logo {
  @media (min-width: 936px) {
    @include span(3.079);
  }
  @media (max-width: 935px) {
    text-align: center;
    margin-bottom: 20px;
  }
}

.region-footer-first {
  @media (min-width: 936px) {
    @include span(2.1);
  }
  @media (max-width: 935px) {
    @include span(6);
  }
  @media (max-width: 410px) {
    display: none;
  }
}

.region-footer-second {
  @media (min-width: 936px) {
    @include span(2.1);
  }
  @media (max-width: 935px) {
    @include span(6);
  }
  @media (max-width: 410px) {
    display: none;
  }
}

.region-footer-third {
  @media (min-width: 936px) {
    @include span(2.1);
  }
  @media (max-width: 935px) {
    @include span(6);
  }
  @media (max-width: 410px) {
    display: none;
  }
}

.region-footer-last {
  @media (min-width: 936px) {
    @include span(2.521);
  }
  @media (max-width: 935px) and (min-width: 411px) {
    @include span(6);
  }
  @media (max-width: 410px) {
    #block-menu-menu-export {
      display: none;
    }
  }
}

.bottom {
  background-color: #3d3d3d;
  padding-top: 30px;
  padding-bottom: 30px;
  p {
    font-family: 'HelveticaNeue-Light';
    color: #afafaf;
    @media (min-width: 411px) {
      @include span(6);
    }
    @media (max-width: 410px) {
      text-align: center !important;
      margin-bottom: 15px;
    }
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    a {
      color: #afafaf;
    }
  }
}

.wrap-items {
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
  .item {
    @media (min-width: 551px) {
      @include span(5.94);
      &:last-child {
        @include span(last);
      }
    }
    a {
      color: #fff;
    }
  }
  .item-first {
    .col:first-child a {
      background: url("../images/excellence.jpg") no-repeat center;
      height: 472px;
      margin-bottom: 10px;
    }
    .col:last-child a {
      background: url("../images/legacy.jpg") no-repeat center;
      height: 237px;
      @media (max-width: 550px) {
        margin-bottom: 10px;
      }
    }
  }
  .item-last {
    .col:first-child a {
      background: url("../images/conduct.jpg") no-repeat center;
      height: 236px;
      margin-bottom: 10px;
    }
    .col:last-child a {
      background: url("../images/reach.jpg") no-repeat center;
      height: 472px;
      @media (max-width: 550px) {
        margin-bottom: 10px;
      }
    }
  }
  .col {
    a {
      position: relative;
      @extend .flex;
      @extend .flex-wrap;
      @extend .justify-content-center;
      @extend .align-items-center;
      width: 100%;
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease .15s;
      }
      &:hover {
        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  .wrap-link {
    text-align: center;
    position: relative;
    z-index: 6;
    img {
      margin-top: 15px;
      margin-bottom: 10px;
    }
    .title {
      font: 19px 'HelveticaNeue-Light';
    }
    p {
      font: 16px/1.375 'HelveticaNeue-Light';
    }
  }
}

#block-block-5 {
  padding-top: 65px;
  .title-top {
    text-align: center;
    font: 18px/1.389 'HelveticaNeue-Light';
    margin-bottom: 35px;
  }
}

#block-block-6 {
  background-color: #F5F5F5;
  padding-top: 60px;
  padding-bottom: 95px;
  .block__title {
    text-align: center;
    @media (min-width: 391px) {
      font: 55px 'prataregular';
      margin-bottom: 45px;
    }
    @media (max-width: 390px) {
      font: 35px 'prataregular';
      margin-bottom: 25px;
    }
  }
  .headerTop {
    text-align: center;
    font: 18px/1.389 'HelveticaNeue-Light';
    margin-bottom: 45px;
  }
}

.oasis-assist {
  max-width: 1125px;
  margin-left: auto;
  margin-right: auto;
  .item {
    color: white;
    @media (min-width: 769px) {
      @include span(4);
      padding-right: 10px;
    }
    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }
  .item-wrap {
    @media (min-width: 769px) {
      height: 532px;
    }
    @media (max-width: 768px) {
      > h3 {
        br {
          display: none
        }
      }
    }
  }
  .item-first {
    .item-wrap {
      background: url("../images/oasis-assist-1.jpg") no-repeat center / cover;
    }
    .first {
      background: url("../images/oasis-assist-bg-1.png") no-repeat left center;
    }
    .second {
      background: url("../images/oasis-assist-bg-2.png") no-repeat 5px center;
    }
    .last {
      background: url("../images/oasis-assist-bg-3.png") no-repeat 5px center;
    }
  }
  .item-second {
    .item-wrap {
      background: url("../images/oasis-assist-2.jpg") no-repeat center / cover;
    }
    .first {
      background: url("../images/oasis-assist-bg-5.png") no-repeat left center;
    }
    .second {
      background: url("../images/oasis-assist-bg-4.png") no-repeat 5px center;
    }
    .third {
      background: url("../images/oasis-assist-bg-1.png") no-repeat left center;
    }
    .last {
      background: url("../images/oasis-assist-bg-2.png") no-repeat 5px center;
    }
  }
  .item-last {
    .item-wrap {
      background: url("../images/oasis-assist-3.jpg") no-repeat center / cover;
    }
    .first {
      background: url("../images/oasis-assist-bg-6.png") no-repeat left center;
    }
    .second {
      background: url("../images/oasis-assist-bg-1.png") no-repeat left center;
    }
    .third {
      background: url("../images/oasis-assist-bg-3.png") no-repeat left center;
    }
    .fourth {
      background: url("../images/oasis-assist-bg-7.png") no-repeat left center;
    }
    .last {
      background: url("../images/oasis-assist-bg-8.png") no-repeat left center;
    }
  }
  .item-wrap {
    > h3 {
      padding-top: 45px;
      font: 32px/1.125 'HelveticaNeue-Light';
      text-align: center;
    }
  }
  section {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
    @extend .flex;
    @extend .flex-wrap;
    align-items: flex-end;
    @media (min-width: 769px) {
      height: 415px;
    }
    @media (max-width: 768px) {
      padding-top: 25px;
    }
    h3 {
      margin-bottom: 13px;
      padding-left: 35px;
      a {
        color: white;
        font: 21px 'HelveticaNeue-Light';
      }
    }
  }
  div[data-collapse="accordion"] {
    > div {
      font: 14px/1.286 'HelveticaNeue-Light';
      padding-left: 30px;
    }
  }
}

