$susy: (
        container: 1170px,
        columns: 12,
        gutters: 0,
);

.wrap {
  @include container;
  padding-left: 15px;
  padding-right: 15px;
}

* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: .35s;
}